[submodule "src/main"]
	path = src/main
	url = git@github.com:brtmvdl/main-node-file.git

[submodule "src/tasksget"]
	path = src/tasksget
	url = git@github.com:brtmvdl/tasksget-node-file.git

[submodule "src/taskslist"]
	path = src/taskslist
	url = git@github.com:brtmvdl/taskslist-node-file.git

[submodule "src/tasksupdate"]
	path = src/tasksupdate
	url = git@github.com:brtmvdl/tasksupdate-node-file.git
